[package]
name = "precellar-py"
version = "0.1.1-dev2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "precellar"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0"
bwa-mem2 = { git = "https://github.com/regulatory-genomics/bwa-mem2-rust.git", rev = "de9b0af1c4077b70c31d9129da1d3f4229a125c7" }
star-aligner = { git = "https://github.com/regulatory-genomics/star-aligner", rev = "faef1085eaf26e6e8d5875fcbc641c3af9444d89" }
bstr = "1.0"
either = "1.13"
itertools = "0.13"
noodles = { version = "0.85", features = ["core", "fastq", "bam", "sam", "bgzf"] }
seqspec = { version = "0.1", workspace = true }
serde_yaml = "0.9"
termtree = "0.5"
precellar = { version = "0.1", workspace = true }
regex = "1.6"
log = "0.4"
env_logger = "0.11"
url = "2.5"
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }
futures = "0.3"

[dependencies.pyo3]
version = "0.22.3"
features = ["extension-module", "anyhow"]

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = {version = "0.6", features = ["disable_initial_exec_tls"]}