[package]
name = "precellar-py"
version = "0.1.1-dev2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "precellar"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0"
bwa-mem2 = { git = "https://github.com/regulatory-genomics/bwa-mem2-rust.git", rev = "07eda9b9c2815ae52b3fa30b01de0e19fae31fe0" }
star-aligner = { git = "https://github.com/regulatory-genomics/star-aligner", rev = "f9915ea3afbac1e8f4773e2e7c22376f1549c3c7" }
bstr = "1.0"
either = "1.13"
itertools = "0.13"
noodles = { version = "0.80", features = [
    "core",
    "fastq",
    "bam",
    "sam",
    "bgzf",
] }
seqspec = { version = "0.1", workspace = true }
serde_yaml = "0.9"
termtree = "0.5"
precellar = { version = "0.1", workspace = true }
regex = "1.6"
log = "0.4"
env_logger = "0.11"
url = "2.5"

[dependencies.pyo3]
version = "0.22.3"
features = ["extension-module", "anyhow"]

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = { version = "0.6", features = ["disable_initial_exec_tls"] }
