name: build-wheels
on:
  workflow_call

jobs:
  build_wheels:
    name: Wheel on ${{ matrix.os }} for ${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [ubuntu-latest, macos-13, macos-14]
        os: [ubuntu-latest]
        python_version: ["cp39-*", "cp310-*", "cp311-*", "cp312-*", "cp313-*"]
    env:
       CIBW_BUILD_VERBOSITY: 1
       CIBW_BEFORE_ALL_LINUX: >
         curl https://sh.rustup.rs -sSf | sh -s -- -y && yum install -y clang openssl-devel zlib-devel

       CIBW_ARCHS_LINUX: "auto64"
       CIBW_ENVIRONMENT: 'PATH="$PATH:$HOME/.cargo/bin"'
       CIBW_SKIP: "pp* *-win32 *-musllinux*"
       CIBW_BUILD: ${{ matrix.python_version }}
       #CIBW_TEST_REQUIRES: pytest hypothesis==6.72.4
       #CIBW_TEST_COMMAND: "pytest {project}/snapatac2-python/tests"

    steps:
      - name: Checkout code
        uses: nschloe/action-cached-lfs-checkout@v1

      - uses: ./.github/actions/setup-rust

      # Used to host cibuildwheel
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.22.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse python

      - uses: actions/upload-artifact@v4
        with:
          name: precellar-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  make_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.10'

      - name: Install maturin
        run: pip install maturin

      - name: Build sdist
        run: maturin sdist
        working-directory: python

      - uses: actions/upload-artifact@v4
        with:
          name: precellar-sdist
          path: python/target/wheels/*.tar.gz